<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#FFF">
  <title>Hevelianum</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .planet-view {
      position: fixed;
      right: 2em;
      width: 400px;
      height: 400px;
    }
  </style>
</head>

<body id="top" class="scrollspy">
  <header>
    <div class="navbar-fixed">
      <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
          <div class="nav-wrapper">
            <a href="/index.html" id="logo-container" class="brand-logo">Egzoplanety w Hevelianum</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div id="app">
      <div id="details" class="card blue-grey darken-1">
        <div class="card-content white-text">
          <form action="#">
            <p class="range-field">
              Średnica / Masa
              <input class="tooltipped" type="range" id="test5" min="0" max="100" v-model="planetParams.radius" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
            <p class="range-field">
              Temperatura
              <input class="tooltipped" type="range" id="www" min="-1" max="1" step="0.01" v-model="planetParams.vTemperature" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
            <p class="range-field">
              Woda
              <input class="tooltipped" type="range" id="www" min="-1" max="1" step="0.01" v-model="planetParams.vWaterLevel" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
            <p class="range-field">
              Rzeki
              <input class="tooltipped" type="range" id="www" min="-10" max="10" v-model="planetParams.vRivers" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
            <p class="range-field">
              Chmury
              <input class="tooltipped" type="range" id="www" min="0" max="1" step="0.01" v-model="planetParams.vCloudiness" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
            <p class="range-field">
              Prędkość Obrotu
              <input class="tooltipped" type="range" id="www" min="0" max="0.2" step="0.001" v-model="planetParams.vRotspeed" data-tooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."/>
            </p>
          </form>
          
        </div>
      </div>

      <planet-render v-bind:planet-params="planetParams" id="detailPlanet"></planet-render>
      <star-render v-bind:star-params="starParams"></star-render>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">share</i>
  </a>
  <!-- <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul> -->
</div>
      
    </div>
    <div id="view">
      <!-- <canvas id="planet-view"></canvas> -->
    </div>
    <star-render v-bind:star-params="starParams"></star-render>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="./js/utils.js"></script>
  <script src="./js/starField.js"></script>
  <script src="./js/planet.js"></script>
  <script src="./app.js"></script>
  <script>
      $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
  </script>
</body>

</html>